<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
<body>
    <%-include('base_menu') -%>
    <div>
        <h2><%= pessoa.nome%></h2>
        <div>
            <p><%= pessoa.descricao%></p>
        </div>
        <div>
            <p>Cursos:</p>
            <% for (var i = 0; i < pessoa.cursos.length; i++) { %>
                <p><%= pessoa.cursos[i] %></li>
            <% } %>
        </div>
    </div>
</body>
<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>