<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>

<body>

    <%-include('base_menu') -%>
    <div class="nome">

    <!--meu nome-->
    <center>
        <div style="font-size: 25px;">
        <div class="nome">
        <h2><%= pessoa.nome%></h2>
    </div>
    </div>
    </center>

            <div>
               <!--imagem -->
               <center>
                    <div class="foto">
                <img src="<%= pessoa.imagem %>" alt="Foto"
                width="200px"> 
            </div>
            </center>


            </div>
            
            <!--descrição sobre mim-->

            <center>
            <p><%= pessoa.descricao%></p>
        </center>

        <!--titulo -->
        <div class="titulo">
        <center>
            <p>CURSOS:</p>
        </center>

        <center>
            <% for (var i = 0; i < pessoa.cursos.length; i++) { %>
                <p><%= pessoa.cursos[i] %></li>
            <% } %>
        </center>
</div>
    </div>

</body>


<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>